@media (min-width: 1200px) {
  .desktop-layout {
    transform: scale(1);
  }
}
@media (max-width: 1200px) {
  .groupImg {
    height: 320px !important;
  }
}
@media (max-width: 990px) {
  .header-bg {
    height: 170vh !important;
  }
  .heroHeading {
    font-size: 55px !important;
  }
  .heroPara {
    font-size: 20px !important;
  }
  .groupImg {
    height: 230px !important;
  }
  .navigation img {
    width: 400px;
    height: 110px;
    margin-top: 20px;
  }
  .gap-md-14 {
    gap: 14px;
  }
  .boardPara {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .footer-bottom-content {
    flex-direction: column;
    text-align: center;
  }
  .boardPara {
    width: 100% !important;
  }
  .custom-card h2 {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  .gap-sm-40px {
    gap: 40px !important;
  }
}
@media (max-width: 480px) {
  .header-bg {
    height: 162vh !important;
  }

  .navigation img {
    width: 300px;
    height: 90px;
    margin-top: 20px;
  }
}
